@import url(constants.css);
@import url(fonts.css);


.main-info{
  position: absolute;
  top:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
  background: var(--main-bg-color);  
  width: 60%;
  box-sizing:border-box;
  box-shadow: 0 0 8px 2px #000;
  text-align: center;
  font-family: 'Popins';
  font-weight: 600;
  font-size: 1em;  
  color: var(--text-color);
  margin-bottom: 5px;
  animation-name: slideUp;
  animation-duration:4s;  
  animation-timing-function: ease; 
  visibility: visible ;
  }

.main-info p{
padding: 12px;
}
.main-info_buttons{
  border-top: 1px solid var(--text-color);
}

.main-info_buttons button{ 
  border: none;
  background-color:#021238;
  width: 30%;
  height: 36px;
  margin: 20px 5px;
  border-radius: 20px;
color: var(--text-color);
}

.main-info_buttons button:hover{
  cursor:pointer;
  box-shadow: 0 0 8px 2px #000;
}
