@font-face {
  font-family: "Popins";
  font-style: normal;
  font-weight: 700;
  src: local("Popins"),
       url('./fonts/Popins/Poppins-Bold.woff2') format('woff2'),
       url('./fonts/Popins/Poppins-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Popins";
  font-style: normal;
  font-weight: 600;
  src: local("Popins"),
       url('./fonts/Popins/Poppins-SemiBold.woff2') format('woff2'),
       url('./fonts/Popins/Poppins-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Popins";
  font-style: normal;
  font-weight: 500;
  src: local("Popins"),
       url('/fonts/Popins/Poppins-Medium.woff2') format('woff2'),
       url('./fonts/Popins/Poppins-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Popins";
  font-style: normal;
  font-weight: 400;
  src: local("Popins"),
       url('./fonts/Popins/Poppins-Regular.woff2') format('woff2'),
       url('./fonts/Popins/Poppins-Regular.woff') format('woff');
  font-display: swap;
}
