
@import url(./header.css);
@import url(./card-main-info.css);
@import url(./fonts.css);
@import url(./styles/card-education.css);
@import url(./styles/skills.css);
:root {
  --main-bg-color:#262525;
  --text-color: red;
  --green:#06A763;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  }

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
