
@import url(./header.css);
@import url(./card-main-info.css);
@import url(/styles/card-main-info-about-me.css);
@import url(/styles/card-education.css);
@import url(/styles/skills.css);

body{
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  }

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  